// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 25px;
//$v-font-weight: 100;
$v-font-family: Arial, Helvetica, sans-serif;

// Defines the border used by all components.
//$v-border: 6px solid rgb(50, 50, 60);
//$v-border-radius: 0px;

// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: rgb(38, 42, 181);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
$v-app-background-color: rgb(255, 255, 255);

$v-table-background-color: rgb(255, 255, 255);

$v-focus-color: rgb(0, 84, 219);

// Affects the visual appearance of all components
//$v-gradient: v-linear 50%;
//$v-bevel-depth: 90%;
$v-shadow: none;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
@import "../valo/valo.scss";

@mixin HistoriesTheme {
  @include valo;

  /* An actual theme rule */
  .v-button {
    border: none;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: none;
    text-shadow: none;
  }
  .v-menubar {
    color: white;
    //background: #777777;
    border-radius: 0;
    box-shadow: none;
    .v-menubar-menuitem {
       border-color:transparent;
       box-shadow:none;
       //background: #777777;
       outline: none;
    }
    .v-menubar-menuitem:hover {
       background-color: #444444;
    }
  }
  .v-menubar:after {
    display: none;
  }
  .v-menubar-popup{
    border-radius: 0;
    background: white;
    color: black;
    .v-menubar-menuitem {
       border-radius: 0;
       outline: none;
    }
    .v-menubar-menuitem:hover {
       background: #444444;
    }
  }
  .v-grid{
     background: rgb(255, 255, 255);
     .v-grid-body {
        .v-grid-row-has-data {
          .v-grid-cell{
            cursor: pointer;
            background: rgb(255, 255, 255);
          }
          .v-grid-cell:hover {
            background: rgb(214, 214, 214);
          }
        }
     }
     .v-grid-header {
        .v-grid-row {
          .v-grid-cell{
            color: white;
            cursor: pointer;
          }
          .v-grid-cell:hover{
            background: rgb(29, 33, 142);
          }
        }
     }
  }
  .v-filterselect-suggestpopup {
     .popupContent {
         .v-filterselect-suggestmenu {
            color: black;
            background: rgb(255, 255, 255);
            .gwt-MenuItem:hover {
               background: rgb(38, 42, 181);
            }
         }
     }
  }
  .v-Notification {
    background: rgb(255, 255, 255);
  }
}