@import "addons.scss";
@import "HistoriesTheme.scss";

.HistoriesTheme {
  @include addons;
  @include HistoriesTheme;
  .historyLabel{
    width:70%;
    max-width:70%;
    height:80%;
    max-height:80%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .print{
     position: fixed;
     overflow: visible;
     width: 100%;
     height: auto;
     background:white;
   }
  .dropZone{
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    font: 12pt bold arial;
    color: #bbb;
  }
  .hEdit{
      width:70%;
      max-width:70%;
      height:90%;
      max-height:90%;
  }
  .positionCreate{
      right:10%;
  }
  .positionBox{
      left:10%;
  }
  .registerLayout{
      background: rgba(0,0,0,0.2);
  }
}

